h1 {
    background-color: #db0f0f75;
    width: 280px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 37%;
    border-left-color: black;
    border-right-color: black;
    /* border-color: white black white black; */
    border-left-style: solid;
    border-right-style: solid;
    border-width: 7px;
    border-radius: 5px;
}

.ass_fsh {
    color: rgb(0, 0, 0);
    background-color: #04379d86;
    width: 150px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 7px;
    border-radius: 3px;
    margin: 0 0 10px 4%;
    padding: 2px 12px 5px 10px;
}

span {
    background-color: #eeeeeec0;
    outline: 7px solid black;
    padding: 25px;
    margin-right: 290px;

}

.div_assfs {
    border-left: 70px solid rgb(200, 200, 200);
    border-right: 70px solid rgba(200, 200, 200);
    border-top: 70px solid rgba(200, 200, 200);
    border-bottom: 70px solid rgba(200, 200, 200);
    border-radius: 5px;
    ;

    background-color: rgb(200, 200, 200);
    width: 930px;

    margin-left: 170px;
    padding: 10px;

}

.fs {
    border: 7px solid red;

}

.se {
    border-color: blue green;
    border-style: solid;
    border-width: 7px;

}

.th {
    border-width: 7px;
    border-color: red green blue yellow;
    border-style: dashed;
    margin-right: 0;

}

.div_assse {
    border-left: 30px solid rgb(200, 200, 200);
    border-right: 30px solid rgba(200, 200, 200);
    border-top: 30px solid rgba(200, 200, 200);
    border-bottom: 30px solid rgba(200, 200, 200);
    border-radius: 5px;
    ;

    background-color: rgb(200, 200, 200);
    width: 930px;

    margin-left: 215px;
    padding: 10px;
}

.element {
    font-size: 30px;
    padding-left: 10px;
}

#el1 {
    border-left: 5px solid rgb(255, 0, 102);
}

#el2 {
    visibility: hidden;
}

#el3 {
    border-left: 5px solid rgb(41, 94, 63);

}